<ion-content>
  <div class="flex-centent">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">TeknoTok</ion-card-title>
      </ion-card-header>

      <ion-card-content class="test">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full"
          >Forger email / password</ion-button
        >
        <ion-button color="success" size="full">Login</ion-button>
        <ion-button color="success" size="full" fill="clear">Register</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
