  <ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="success">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item><a href="/home">Home</a></ion-item>
          <ion-item><a href="/login">login</a></ion-item>
          <ion-item><a href="/pickup-call">pickup-call</a></ion-item>
          <ion-item><a href="/pickup-calls">pickup-calls</a></ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    
    <ion-router-outlet id="main"></ion-router-outlet>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
