<ion-header>
  <ion-toolbar color="success">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >What do you Want do to with the recycable waste?</ion-card-title
      >
    </ion-card-header>
    <!--ion-list-->
    <ion-list>
      <ion-radio-group>
        <ion-item>
          <ion-label>I want to BUY it</ion-label>
          <ion-radio value="cord" slot="start"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>I want to SELL it</ion-label>
          <ion-radio value="duesenberg" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  <!--ion-Card-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
    <!--Input-->
    <ion-item>
      <ion-label position="stacked"></ion-label>
      <ion-input placeholder="Name" type="text"></ion-input>
      <ion-input placeholder="Email" type="email"></ion-input>
      <ion-input placeholder="Password" type="password"></ion-input>
      <ion-input placeholder="Confirm Password" type="password"></ion-input>
      <ion-input placeholder="Phone" type="tel"></ion-input>
    </ion-item>
  </ion-card>
  <!--Adress-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adress</ion-card-title>
    </ion-card-header>
    <ion-input placeholder="Address" type="text"></ion-input>
    <ion-input placeholder="Number" type="text"></ion-input>
    <ion-input placeholder="Mah" type="text"></ion-input>
    <ion-input placeholder="Complement" type="text"></ion-input>
    <ion-input placeholder="Zip Code" type="text"></ion-input>
    <ion-input placeholder="State" type="text"></ion-input>
    <ion-input placeholder="City" type="text"></ion-input>
  </ion-card>
    <ion-button style="margin: 10px;" size="full" color="light">Register</ion-button>
  </ion-content>
