<ion-header>
  <ion-toolbar color="success">
    <!--Header Slid Button-->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <!--Title-->
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--List-->
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.w3schools.com/howto/img_avatar.png" />
      </ion-avatar>
      <ion-label
        ><h1>Selim Cadoa</h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!--icon Card-->

  <app-pickup-call-card
    status="Finished"
    updatedAt="25/04/2021 16:29"
    createdAt="24/04/2021"
    notes="Notes: we have two bags that are full, one with plastik and the
    other one with glass."
    value="5,00"
  ></app-pickup-call-card>
  <!--Fab-->
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
